/* google font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

span {
    color: #FF7629;
}

/* .span-color:hover{
    color: #fff;
} */

/* header */
/* navbar */
.navbar-brand {
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
}

.nav-item a {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}

/* main */
/* hero section */
.hero {
    background-image: url(images/hero-image.png);
    height: 750px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

.hero h1 {
    padding-top: 96px;
    font-size: 96px;
    font-weight: 700;
    line-height: 102px;
}

.hero p {
    font-size: 20px;
    font-weight: 400;
    margin: 74px 0;
    line-height: 26px;
}

.hero a {
    background-color: #FF7629;
    padding: 10px 50px;
    border-radius: 60px;
    text-decoration: none;
    color: white;
}

/* about us section */
.about-us {
    margin-top: 120px;
    margin-bottom: 120px;
}

.about-us h2 {
    font-size: 72px;
    font-weight: 600;
    line-height: 77px;
    text-align: left;
    padding-left: 70px;
    margin-top: 12px;
}

.about-us p {
    padding-left: 74px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin: 30px 0;
}

.about-us a {
    background-color: #FF7629;
    padding: 8px 50px;
    border-radius: 60px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-right: 170px;
}

/* product section */
.product-section {
    margin-bottom: 100px;
}

.product-section h2 {
    font-size: 72px;
    font-weight: 600;
    line-height: 77px;
    text-align: center;
    margin-bottom: 68px;
}

.images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 80px;
    /* z-index: 1; */
}

.images .img {
    position: relative;
    border-radius: 10px;
}

.images .img::before {
    content: "Luxury Room";
    top: 83px;
    right: 48px;
    position: absolute;
    color: #FF7629;
    font-size: 48px;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: 0em;
}

.bttn {
    justify-content: center;
}

.bttn a {
    background-color: #FF7629;
    padding: 8px 60px;
    border-radius: 60px;
    text-decoration: none;
    color: white;
}

/* product (optional) */
/* .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
  }
  .bd-mode-toggle {
    z-index: 1500;
  } */

/* facilities section */
.facilities h2 {
    font-size: 72px;
    font-weight: 600;
    line-height: 77px;
    text-align: center;
    margin-bottom: 50px;
}

.feature-icon {
    background-color: #FF7629;
    padding: 20px;
    border-radius: 10px;
}

.feature h3 {
    font-size: 36px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0em;
    padding: 10px 0;
}

.feature p {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
}

.card {
    display: block;
    border: none;
}

/* package section */
.section-header h2 {
    font-size: 72px;
    font-weight: 600;
    line-height: 77px;
    letter-spacing: 0em;
    margin-top: 32px;

}

.pricing-item {
    /* border: 1px solid black; */
    padding: 88px 0px 88px 30px;
    /* height: 500px; */
    margin-right: 24px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

/* .span-color{
    color: #fff;
}

.span-color:hover{
    color: #ac1b1b;
} */

.pricing-item .silver {
    margin-left: 42px;
    margin-top: 44px;
}

.pricing-item .silver p {
    padding-bottom: 14px;
}

.pricing-item ul li {
    list-style: none;
    line-height: 34px;
}

/* .pricing-item ul li span svg:hover{
    color: #fff !;
    background-color: #fff;
} */

.pricing-item:hover {
    /* border: 1px solid black; */
    padding: 95px 60px;
    /* height: 530px; */
    /* margin-top: 10px;
    margin-right: 14px; */
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #FF7629;
    color: #fff;
    /* font-size: 18px; */
    /* margin: 10px; */
}

/* .testimonial */
.testimonial-section {
    padding: 50px 0px 50px 0px;
}

.testimonial-section h2 {
    margin-top: 60px;
    margin-bottom: 72px;
    font-size: 72px;
    font-weight: 600;
    line-height: 77px;
    letter-spacing: 0em;
}

/* .col-center {
    margin: 0 auto;
    float: none !important;
} */

/* .carousel {
    margin: 50px auto;
    padding: 0 170px;
} */

.carousel-item img {
    margin-bottom: 24px;
}

/* .carousel .item {
    color: #999;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    min-height: 290px;
} */

.carousel-caption {
    margin-top: 20px;
}

.carousel-caption h3 {
    font-size: 36px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0em;
}

.carousel-caption h5 {
    font-size: 24px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0em;
}

.carousel-caption p {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
}

/* .carousel .item .img-box {
    width: 170px;
    height: 170px;
    margin: 0 auto;
    padding: 5px;
    /* border: 1px solid #ddd; */
/* border-radius: 50%; */
}

*/
/* .carousel .img-box img {
    width: 100%;
    height: 100%;
    display: block;
    /* border-radius: 50%; */
}

*/ .carousel .testimonial {
    padding: 30px 0 10px;
    color: #555;
}

.carousel-inner {
    text-align: center;
}

.carousel-title {
    margin: 25px;
    color: #333;
}

.carousel-line {
    height: 1px;
    width: 600px;
    background-color: #cecece;
    margin: auto;
}

.carousel .overview {
    font-size: 12px;
    margin-bottom: 5px;
}

.carousel .overview b {
    color: #7AA641;
}

.company-name {
    color: #555;
}

.carousel .carousel-control {
    width: 0px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
    background: none;
}

.carousel-control i {
    font-size: 25px;
    line-height: 42px;
    position: absolute;
    display: inline-block;
    color: #000;
}

.carousel .carousel-indicators {
    bottom: -40px;
}

.carousel-indicators li,
.carousel-indicators li.active {
    width: 10px;
    height: 10px;
    margin: 1px 3px;
    border-radius: 50%;
}

.carousel-indicators li {
    background: #999;
    border-color: transparent;
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}

.carousel-indicators li.active {
    background: #555;
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}

.testimonial span {
    font-size: 62px;
    position: absolute;
    top: 57%;
    left: 0;
    font-family: 'Emblema One', cursive;
    color: #333;
}

.carousel-control-prev span {
    position: absolute;
    font-size: 14px;
    top: 29%;
    left: 20px;
    color: #fff;
    text-shadow: none;
    font-weight: bolder;
    background-color: #FF7629;
    border-radius: 10px;
}

.carousel-control-next span {
    position: absolute;
    font-size: 14px;
    top: 29%;
    right: 20px;
    color: #fff;
    text-shadow: none;
    background-color: #FF7629;
    font-weight: bolder;
    border-radius: 10px;
}

.carousel-item img {
    padding-bottom: 250px;
    width: 20;
    height: 20;
}

/* blog section */
.blog h2 {
    font-size: 72px;
    font-weight: 600;
    line-height: 77px;
    letter-spacing: 0em;
    margin-bottom: 72px;
}

.card {
    margin-bottom: 154px;
    margin-right: 42px;
}

.card-body h6 {
    font-size: 24px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    padding-top: 18px;
    /* text-align: left; */
}

.card-body p {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.card-title {
    font-size: 36px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    padding: 20px 0;
}

/* call to use section */
/* .call-section{
    text-align: center;
} */

.call {
    background-image: url(images/Rectangle\ 6\ \(1\).png);
    height: 700px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    /* text-align: center; */
}

.call h2 {
    padding-top: 225px;
    font-size: 72px;
    font-weight: 700;
    line-height: 80px;
}

.footer-newsletter {
    margin-left: 450px;
}

.footer-newsletter form {
    margin-top: 62px;
    background: white;
    padding: 10px 10px;
    position: relative;
    border-radius: 50px;
    margin-left: -116px;
    /* border: 1px solid #454035; */
}

.footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px;
    width: calc(100% - 110px);
}

.footer-newsletter form input[type=submit] {
    position: absolute;
    top: -1px;
    right: -125px;
    bottom: -1px;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 50px 2px 50px;
    background: #FF7629;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
}

/* footer */
footer {
    background-color: #FF7629;
    color: white;
    padding: 134px 0 116px 0px;
}

.title h4 {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
}

.icon svg {
    margin-right: 18px;
}

.home-footer {
    margin-left: 140px;
}




/* media quaries */
/* Tablet */
@media (max-width: 768px) {

    /* hero section */
    .hero {
        height: 500px;
    }

    .hero h1 {
        padding-top: 96px;
        font-size: 48px;
        font-weight: 700;
        line-height: 52px;
    }

    .hero p {
        font-size: 15px;
        font-weight: 400;
        margin: 34px 0;
        line-height: 25px;
    }

    /* about us section */
    .about-us h2 {
        font-size: 48px;
        line-height: 56px;
    }

    .about-us p {
        font-size: 17px;
        line-height: 26px;
    }

    .about-us a {
        padding: 7px 48px;
        font-size: 20px;
        font-weight: 600;
        margin-right: -28px;
    }

    /* product section */
    .product-section h2 {
        font-size: 60px;
    }

    .images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

}